.login-form{
    text-align: center;
    
}
input{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
}
.margin-bottom{
    margin-bottom: 20px;
}
.account-message{
    text-decoration: none;
    color: chocolate;
}
.social-media-button{
    border-radius: 10px;
    width: 250px;
}
.social-media-button img{
    height: 20px;
}
